.menu{
    display: flex;
    border: 1px solid #afaba7;
    padding: 0px 200px;
   
    margin: 159px;

}
a.menu1{
    
    border: 1px solid #afaba7;
    /* width: 100px; */
    text-align: center;
    text-decoration:none; 
    font-size: 17px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 6, 6);
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
}
a.menu1:hover {
    background-color: rgba(97, 169, 62, 1);
  
    color: rgba(252, 250, 246, 1);
}
a.menu1:focus {
    background-color: rgba(97, 169, 62, 1);
      
    color: rgba(252, 250, 246, 1);
}
.header_top{
    /* border:1px solid #afaba7; */
}
.header_top_inner{
    color: #afaba7;
    display: inline;
    text-decoration:none;
}